@import "tailwindcss";

:root {
  --bg-main: #fafafa;
  --bg-card: #ffffff;
  --border-light: #f1f1f1;
  --text-primary: #111111;
  --text-secondary: #666666;
  --brand: #000000;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-sm;
}
