@import "tailwindcss";

@theme {
  --color-bg-main: #fafafa;
  --color-bg-card: #ffffff;
  --border-light: #f1f1f1;
  --text-primary: #111111;
  --text-secondary: #666666;
}

:root {
  background-color: var(--color-bg-main);
  color: var(--text-primary);
  --font-sans: "Inter", system-ui, sans-serif;
}

.card-shadow {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.input-base {
  @apply w-full px-4 py-3 rounded-xl border border-(--border-light) bg-white focus:outline-none focus:ring-2 focus:ring-black/5 transition-all;
}

.btn-black {
  @apply w-full py-3 px-6 bg-black text-white rounded-xl font-medium hover:bg-neutral-800 transition-all disabled:opacity-50;
}
